go 1.22.1

use (
	./go/animal-magic
	./go/annalyns-infiltration
	./go/bird-watcher
	./go/blackjack
	./go/booking-up-for-beauty
	./go/card-tricks
	./go/cars-assemble
	./go/chessboard
	./go/gross-store
	./go/hello-world
	./go/interest-is-interesting
	./go/lasagna
	./go/lasagna-master
	./go/need-for-speed
	./go/party-robot
	./go/vehicle-purchase
	./go/weather-forecast
	./go/welcome-to-tech-palace
)
